<div class='main-nav'>
  <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' [routerLink]='["/"]'>CV Builder</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='nav navbar-nav'>
          <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a [routerLink]='["/"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-home'></span> Home
            </a>
          </li>
         
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/sections"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Sections
            </a>
          </li>
          
        </ul>
      </div>
  </div>
</div>
